* {
	box-sizing: border-box;
}

body {
	background-color: #DFF2EB;
	margin: 0px;
}

header {
	background-color: #133E87;
	color: #F3F3E0;
	text-align: left;
	text-indent: 20px;
	margin: 0px 0px;
	padding: 20px;
}

h1 {
	font-size: 30px;
}

header > img {
	float: left;
	width: 6%;
	position: static;
	
}

.searchbar {
	position: absolute;
	top: 45px;
	left: 900px;
	font-size: 20px;
}

.searchbar input:focus {
    background: #B9D9EB;
	font-size: 15px;
}

header .searchbar input {
	width: 400px;
	height: 30px;
	border-radius: 10px;
	background-color: #6495ED;
	padding: 10px;
}

main {
	margin: 30px;
}

ul.navbar-breadcrumb {
	list-style-type: none;
	display: flex;
	justify-content: center;
	background-color: #7AB2D3;
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif;
}
ul.navbar-breadcrumb li {
	align-items: center;
	width: 300px;
}

ul.navbar-breadcrumb li a {
	color: #F3F3E0;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align:center;
}

ul.navbar-breadcrumb li a:hover, ul.navbar-breadcrumb li.active a {
	background-color: #4A628A;
}

ul.navbar-breadcrumb li a:active {
	background-color: #002D62;
}


.homepage {
	background-color: #3A6D8C;
	color: #F3F3E0;
	text-align: center;
	margin: 46px 0px;
	padding: 10px;	
	font-family: Georgia;
}
.introduction h3{
	text-align: center;
}

.introduction {
	text-align: justify;
	width: 50%;
	float: left;
	padding: 10px;
	margin-top: 35px;
	font-family: Arial;
	border-style: solid;
} 

.images {
	width: 50%;
	float: left;
	padding: 10px;
} 

footer {
	background-color: #6A9AB0;
	color: #001F3F;
	clear: both;
	text-align: center;
	padding: 10px;
}